<h3>Listing posts</h3>

<p style="text-align:right;">
  <%= link_to 'New post', new_post_path, class: "btn" %>
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th class="span1" style="text-align:center;">Id</th>
      <th class="span7" style="text-align:center;">Title</th>
      <th class="span3" style="text-align:center;">Date/Time</th>
      <th class="span2" style="text-align:center;">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td style="text-align:center;"><%= post.id %></td>
        <td><%= link_to post.title, post %></td>
        <td style="text-align:center;"><%= post.updated_at.in_time_zone("Seoul") %></td>
        <td style="text-align:center;"><%= link_to 'Edit', edit_post_path(post) %> | 
            <%= link_to 'Delete', post_path(post), method: :delete,
                                   data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
